@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* CON BOOTSTRAP */
/* INDEX*/
.logonav {
  width: 50%; }

.colornav {
  background-color: #53A69D; }

.tamBoton {
  width: 80%; }

/*INDEX, PAGINA PRINCIPAL */
body {
  background-color: #6BBFBF; }

.encabezado .encabezado__imgEncabezado .encabezado__imgEncabezado__columnas .encabezado__imgEncabezado__columnas__imgE {
  width: 60%; }

.encabezado .encabezado__TyP {
  width: 100%; }
  .encabezado .encabezado__TyP .encabezado__TyP__titulo {
    font-size: 130%;
    font-weight: 400;
    text-align: center;
    color: #F6FEFF;
    font-family: "Gotu", sans-serif; }
  .encabezado .encabezado__TyP .encabezado__TyP__parrafo {
    font-size: 80%;
    font-weight: 400;
    text-align: center;
    color: #F6FEFF;
    font-family: "Montserrat", sans-serif;
    color: #F6FEFF;
    width: 100%; }

.contAnimaciones {
  overflow: hidden; }
  .contAnimaciones .colorCuerpo {
    background-color: #F6FEFF; }
    .contAnimaciones .colorCuerpo .fuente {
      font-size: 90%;
      font-weight: 700;
      text-align: center;
      color: #F6FEFF;
      color: #015958;
      font-family: "Montserrat", sans-serif; }
    .contAnimaciones .colorCuerpo .pantallaMovil .botonS .colorBoton-1 {
      background-color: #015958;
      color: #F6FEFF;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      width: 30%;
      border: 0;
      border-radius: 5%; }
    .contAnimaciones .colorCuerpo .pantallaMovil .mb-sm-5 .anchoCarrusel {
      width: 80%; }
    .contAnimaciones .colorCuerpo .pantallaMovil .mb-sm-5 .carousel-control-prev-icon, .contAnimaciones .colorCuerpo .pantallaMovil .mb-sm-5 .carousel-control-next-icon {
      background-color: #015958 !important; }
    .contAnimaciones .colorCuerpo .pantallaMovil .botonD {
      margin-top: 10%; }
      .contAnimaciones .colorCuerpo .pantallaMovil .botonD .colorBoton-1 {
        background-color: #015958;
        color: #F6FEFF;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        width: 30%;
        border: 0;
        border-radius: 5%; }
    .contAnimaciones .colorCuerpo .pantallaMovil .mb-sm-3 .anchoCarrusel1 {
      width: 80%; }
    .contAnimaciones .colorCuerpo .pantallaMovil .mb-sm-3 .iconCarru1 {
      background-color: #015958 !important; }
    .contAnimaciones .colorCuerpo .pantallaMovil .botonR {
      margin-top: 10%; }
      .contAnimaciones .colorCuerpo .pantallaMovil .botonR .colorBoton-1 {
        background-color: #015958;
        color: #F6FEFF;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        width: 30%;
        border: 0;
        border-radius: 5%; }
    .contAnimaciones .colorCuerpo .pantallaMovil .mb-sm-3 .anchoCarrusel2 {
      width: 80%; }
      .contAnimaciones .colorCuerpo .pantallaMovil .mb-sm-3 .anchoCarrusel2 .iconCarru2 {
        background-color: #015958 !important; }

.tresBotones {
  display: none; }

.noPM {
  display: none; }

/* PAGINA DE CONTACTO */
.colorForm {
  background-color: #F6FEFF;
  width: 100%; }
  .colorForm .textoForm {
    color: #015958; }
    .colorForm .textoForm .h2Form {
      font-size: 90%;
      font-weight: 700;
      text-align: center;
      color: #015958;
      font-family: "Montserrat", sans-serif !important;
      padding: 2%;
      width: 100%; }
    .colorForm .textoForm .pForm {
      font-size: 80%;
      font-weight: 400;
      text-align: center;
      color: #015958;
      font-family: "Montserrat", sans-serif !important;
      width: 100%;
      padding: 2%; }
  .colorForm .formulario__info__contactos .icono {
    margin: 2%;
    text-align: center;
    color: #015958;
    width: 30%; }
  .colorForm .colorcuadroForm {
    background-color: #015958;
    text-align: center;
    border-radius: 20px;
    width: 100%; }
    .colorForm .colorcuadroForm .formulario__cuadrosFormulario__cajas__caja {
      text-decoration: none;
      background-color: #53A69D;
      border: 0;
      padding: 2%;
      margin: 2%;
      font-size: 70%;
      font-weight: 400;
      text-align: start;
      color: #015958;
      font-family: "Montserrat", sans-serif !important;
      border-radius: 10px;
      width: 100%; }

/* PAGINA DE ERROR 404 */
.errorBody {
  background-color: #F6FEFF; }
  .errorBody .errorConImg {
    margin-top: 2%;
    width: 100%; }
    .errorBody .errorConImg .errorImg {
      margin: 5%;
      width: 50%; }

.colorCuerpo {
  background-color: #F6FEFF; }
  .colorCuerpo .col-sm-8 .titServ {
    margin-top: 5%;
    font-size: 100%;
    font-weight: 700;
    text-align: center;
    color: #015958;
    font-family: "Montserrat", sans-serif !important; }
  .colorCuerpo .col-sm-8 .parServ {
    font-size: 80%;
    font-weight: 400;
    text-align: center;
    color: #015958;
    font-family: "Montserrat", sans-serif !important; }
  .colorCuerpo .col-sm-8 .CarruselServ {
    width: 60%;
    margin-bottom: 5%; }

/* NOSOTROS */
.colorCuerpo .contenedor_historia {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center; }
  .colorCuerpo .contenedor_historia .textNos {
    font-size: 80%;
    font-weight: 400;
    text-align: center;
    color: #015958;
    font-family: "Montserrat", sans-serif !important;
    margin-top: 5%;
    margin-bottom: 5%; }
  .colorCuerpo .contenedor_historia .historia__fotoellos {
    width: 100%; }
    .colorCuerpo .contenedor_historia .historia__fotoellos .imgellos {
      width: 50%;
      border-radius: 20px; }

.colorCuerpo .contenedor_historia1 {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center; }
  .colorCuerpo .contenedor_historia1 .historia__fotoellos1 {
    width: 100%; }
    .colorCuerpo .contenedor_historia1 .historia__fotoellos1 .imgellos1 {
      width: 50%;
      border-radius: 20px; }
  .colorCuerpo .contenedor_historia1 .textNos1 {
    font-size: 80%;
    font-weight: 400;
    text-align: center;
    color: #015958;
    font-family: "Montserrat", sans-serif !important;
    margin-top: 5%;
    margin-bottom: 5%; }

.colorCuerpo .col-sm-8 .map {
  margin-top: 10%;
  width: 80%; }

.colorCuerpo .col-sm-8 .titUbi {
  margin-top: 5%;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
  color: #015958;
  font-family: "Montserrat", sans-serif !important; }

.colorCuerpo .col-sm-8 .titPar {
  font-size: 80%;
  font-weight: 400;
  text-align: center;
  color: #015958;
  font-family: "Montserrat", sans-serif !important; }

/*PIE DE PAGINA*/
.textoPie {
  font-size: 80%;
  font-weight: 400;
  text-align: center;
  color: #F6FEFF;
  font-family: "Montserrat", sans-serif; }

.iconos {
  margin-bottom: 5%;
  text-align: center;
  color: #F6FEFF;
  width: 100%; }

.icono {
  text-align: center;
  margin: 10%;
  width: 15%; }

/* TABLET */
@media screen and (min-width: 768px) {
  main .encabezado__titulo {
    font-family: 'Gotu', sans-serif;
    font-weight: 1200;
    font-size: 140%; }
  main .encabezado__parrafo {
    font-size: 120%; }
  main .pantallaMovil {
    display: none !important; }
  .colorcuadroForm {
    width: 40%; }
  .tresBotones {
    background-color: #015958;
    border: 0; }
  .tresBotones p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 100%;
    color: #F6FEFF; }
  .fuente {
    font-size: 120%; } }

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .encabezado .encabezado__imgEncabezado .encabezado__imgEncabezado__columnas .encabezado__imgEncabezado__columnas__imgE {
    width: 60%; }
  .encabezado .encabezado__TyP {
    width: 50%; }
    .encabezado .encabezado__TyP .encabezado__TyP__titulo {
      font-size: 180%;
      font-weight: 700;
      text-align: center;
      color: #F6FEFF;
      width: 100%; }
    .encabezado .encabezado__TyP .encabezado__TyP__parrafo {
      font-size: 100%;
      font-weight: 400;
      text-align: center;
      color: #F6FEFF; }
  .contAnimaciones {
    overflow: hidden; }
    .contAnimaciones .colorCuerpo {
      background-color: #F6FEFF; }
      .contAnimaciones .colorCuerpo .fuente {
        font-size: 120%; }
      .contAnimaciones .colorCuerpo .pantallaMovil {
        display: none !important; }
      .contAnimaciones .colorCuerpo .botones {
        margin-left: 2%;
        margin-top: 2%; }
        .contAnimaciones .colorCuerpo .botones .tresBotones {
          background-color: #015958;
          border: 0;
          border-radius: 35%;
          width: 10%;
          justify-content: center; }
        .contAnimaciones .colorCuerpo .botones .tresBotones p {
          font-size: 100%;
          font-weight: 600;
          text-align: center;
          color: #F6FEFF;
          font-family: "Montserrat", sans-serif;
          width: 100%;
          margin-top: 6%; }
      .contAnimaciones .colorCuerpo .noPM {
        margin-bottom: 5%; }
        .contAnimaciones .colorCuerpo .noPM .imgcomidaS {
          width: 25%; }
      .contAnimaciones .colorCuerpo .botones {
        margin-left: 2%;
        margin-top: 2%; }
        .contAnimaciones .colorCuerpo .botones .tresBotones {
          background-color: #015958;
          border: 0;
          border-radius: 35%;
          width: 10%;
          justify-content: center; }
        .contAnimaciones .colorCuerpo .botones .tresBotones p {
          font-size: 100%;
          font-weight: 600;
          text-align: center;
          color: #F6FEFF;
          font-family: "Montserrat", sans-serif;
          width: 100%;
          margin-top: 6%; }
      .contAnimaciones .colorCuerpo .noPM {
        margin-bottom: 5%; }
        .contAnimaciones .colorCuerpo .noPM .imgcomidaD {
          width: 25%; }
      .contAnimaciones .colorCuerpo .botones {
        margin-left: 2%;
        margin-top: 2%; }
        .contAnimaciones .colorCuerpo .botones .tresBotones {
          background-color: #015958;
          border: 0;
          border-radius: 35%;
          width: 10%;
          justify-content: center; }
        .contAnimaciones .colorCuerpo .botones .tresBotones p {
          font-size: 100%;
          font-weight: 600;
          text-align: center;
          color: #F6FEFF;
          font-family: "Montserrat", sans-serif;
          width: 100%;
          margin-top: 6%; }
      .contAnimaciones .colorCuerpo .noPM {
        margin-bottom: 5%; }
        .contAnimaciones .colorCuerpo .noPM .imgcomidaR {
          width: 25%; }
  .tamañoImgPieCont {
    width: 20%;
    margin-bottom: 5%; }
  .tamañoImgPie {
    width: 40%;
    margin-bottom: 5%; }
  .iconos {
    margin-bottom: 5%;
    text-align: center;
    color: #F6FEFF;
    width: 15%; }
  .icono {
    text-align: center;
    margin: 10%;
    width: 100%; }
  /*CONTACTO*/
  .colorForm {
    background-color: #F6FEFF;
    width: 100%; }
    .colorForm .textoForm {
      color: #015958; }
      .colorForm .textoForm .h2Form {
        font-size: 100%;
        font-weight: 700;
        text-align: center;
        color: #015958;
        font-family: "Montserrat", sans-serif;
        padding: 2%;
        width: 100%; }
      .colorForm .textoForm .pForm {
        width: 100%;
        font-size: 90%;
        font-weight: 400;
        text-align: center;
        color: #015958;
        font-family: "Montserrat", sans-serif;
        padding: 2%; }
    .colorForm .formulario__info__contactos .icono {
      margin: 2%;
      text-align: center;
      width: 50%; }
    .colorForm .colorcuadroForm {
      width: 40%; }
      .colorForm .colorcuadroForm .formulario__cuadrosFormulario__cajas__caja {
        text-decoration: none;
        background-color: #6BBFBF;
        border: 0;
        padding: 2%;
        margin: 2%;
        font-size: 70%;
        font-weight: 400;
        text-align: start;
        color: #015958;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        width: 100%; }
  /*ERROR 404*/
  .errorBody {
    background-color: #F6FEFF; }
    .errorBody .errorConImg {
      width: 100%; }
      .errorBody .errorConImg .errorImg {
        margin: 5%;
        width: 50%; }
  /* LOCALES */
  .colorCuerpo .col-sm-8 .map {
    margin-top: 2%;
    width: 90%; }
  .colorCuerpo .col-sm-8 .titUbi {
    margin-top: 5%;
    font-size: 120%; }
  .colorCuerpo .col-sm-8 .titPar {
    font-size: 95%; }
  /*SERVICIOS*/
  .colorCuerpo {
    background-color: #F6FEFF; }
    .colorCuerpo .col-sm-8 .titServ {
      margin-top: 20%;
      font-size: 120%; }
    .colorCuerpo .col-sm-8 .parServ {
      font-size: 95%; }
    .colorCuerpo .col-sm-8 .CarruselServ {
      width: 60%;
      margin-bottom: 5%; }
  /*NOSOTROS*/
  .colorCuerpo .contenedor_historia {
    margin-left: 3%; }
    .colorCuerpo .contenedor_historia .textNos {
      font-size: 90%;
      font-weight: 400;
      text-align: start;
      color: #015958;
      font-family: "Montserrat", sans-serif;
      margin-left: 5%;
      padding-top: 5%; }
    .colorCuerpo .contenedor_historia .historia__fotoellos {
      width: 50%; }
      .colorCuerpo .contenedor_historia .historia__fotoellos .imgellos {
        width: 50%;
        border-radius: 20px; }
  .colorCuerpo .contenedor_historia1 {
    padding-right: 6%;
    margin-top: 5%;
    margin-bottom: 10%; }
    .colorCuerpo .contenedor_historia1 .historia__fotoellos1 {
      width: 50%;
      margin-right: 5%; }
      .colorCuerpo .contenedor_historia1 .historia__fotoellos1 .imgellos1 {
        width: 50%;
        border-radius: 20px; }
    .colorCuerpo .contenedor_historia1 .textNos1 {
      font-size: 90%;
      font-weight: 400;
      text-align: center;
      color: #015958;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 5%;
      margin-right: 5%;
      padding-top: 3%; } }
