/* COMIENZA LA NAVEGACIÓN */

/*
.Cabeza{
background-color: #53A69D;
width: 100%;
padding: 2%;
grid-area: cabeza;

}

.Cabeza__nav {
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2vh;
grid-template-areas: "logo menuH";
grid-row: 10px;
justify-items: stretch;
align-items: center;


}

.Cabeza__nav__logo {
    width: 20%;
    grid-area: logo;
    justify-self: start;
    align-self: center;
    margin-top: 15px;
    
    
}
    
.Cabeza__nav__menuH {
    width: 12%;
    grid-area: menuH;
    justify-self: end;
    align-self: center;
    margin-top: 15px;

}

.Cabeza__nav__anclas {
text-decoration: none;
color: #F6FEFF;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
align-items: center;
display: none; 
PARA QUE NO SE VEAN LAS OPCIONES SIN APRETAR EL MENÚ HAMBURGUESA EN UN DISPOSITIVO MOVIL
}

ul li{
    display: inline-block;
}

*/