/* PAGINA DE ERROR 404 */

.errorBody{
background-color: #7ccbfb ;

.errorConImg{
width: 100%;

.errorTit{
margin-top: 10%;
margin-bottom: 10%;
color:brown;
text-align: center;
}
.errorImg{
    margin: 5%;
    width: 100%;
}
}
}