/*PIE DE PAGINA*/

.textoPie {
    @include titulosyparrafos(70%, 400, center);
    font-family: map-get($tipografias, parrafo);
    }
    
    .iconos {
    padding-bottom: 10%;
    text-align: center;
    color:#F6FEFF;
    width: map-get($marginyAncho, w-5);
    }
    
    .icono {
    margin: map-get($marginyAncho, padd);
    text-align: center;
    
    }
    
  
    


   