/*PIE DE PAGINA*/

.textoPie {
    @include titulosyparrafos(80%, 400, center);
    font-family: map-get($tipografias, parrafo);
    }
    
    .iconos {
    margin-bottom: 5%;
    text-align: center;
    color:#F6FEFF;
    width: 100%;
    }
    
    .icono {
    text-align: center;
    margin: 10%;
    width: 15%;
    }
    
  
    


   