/* NOSOTROS */



.colorCuerpo{
  .contenedor_historia{
          margin-top: map-get($marginyAncho, topybot);
          margin-bottom: map-get($marginyAncho, topybot);
          justify-content: center;
        .textNos{
          @include titulosyparrafos(80%, $est1, center, $color-terciario);
          font-family: map-get($tipografias, parrafo) !important;
        margin-top: map-get($marginyAncho, topybot);
        margin-bottom: map-get($marginyAncho, topybot);
      }
      .historia__fotoellos{
        width: map-get($marginyAncho, w-10);
        .imgellos {
          width: map-get($marginyAncho, w-5);
          border-radius: 20px;
          }
      }
  }
  .contenedor_historia1{
    margin-top: map-get($marginyAncho, topybot);
    margin-bottom: map-get($marginyAncho, topybot);
    justify-content: center;
    .historia__fotoellos1{
      width: map-get($marginyAncho, w-10);
      .imgellos1 {
        width: map-get($marginyAncho, w-5);
        border-radius: 20px;
        }
    }
    .textNos1 {
      @include titulosyparrafos(80%, $est1, center, $color-terciario);
      font-family: map-get($tipografias, parrafo) !important;
      margin-top: map-get($marginyAncho, topybot);
    margin-bottom: map-get($marginyAncho, topybot);
  }
  }
}


