
/* PAGINA DE CONTACTO */

.colorForm {
    background-color: map-get($colores, fondo);
    width: map-get($marginyAncho, w-10);
    .textoForm{
        color: map-get($colores, detalles);
        .h2Form {
            @include titulosyparrafos(90%, 700, center, $color-terciario);
            font-family: map-get($tipografias, parrafo) !important;
            padding: 2%;
            width: map-get($marginyAncho, w-10);
            }
        .pForm {
            @include titulosyparrafos(80%, 400, center, $color-terciario);
            font-family: map-get($tipografias, parrafo) !important;
            width: map-get($marginyAncho, w-10);
            padding: 2%;
            }
    }

    .formulario__info__contactos{
        .icono{
            margin: 2%;
            text-align: center;
        }
    }
    .colorcuadroForm {
        background-color:map-get($colores, detalles);
        text-align: center;
        border-radius: 20px;
        width: map-get($marginyAncho, w-10);
        .formulario__cuadrosFormulario__cajas__caja {
        background-color: map-get($colores, secEF);
        border: 0;
        padding: 2%;
        margin: 2%;
        @include titulosyparrafos(70%, 400, start, $color-terciario);
        font-family: map-get($tipografias, parrafo) !important;
        border-radius: 10px;
        width: map-get($marginyAncho, w-10);
        
        } 
    }
}

    