/* CON BOOTSTRAP */ 
/* INDEX*/ 



.logonav {
width: map-get($marginyAncho, w-3);
}
    
.colornav {
    background-color: map-get($colores, secEF);
}
    
.tamBoton {
    width: map-get($marginyAncho, w-8);
}

/*INDEX, PAGINA PRINCIPAL */
body{
    background-color: $color-cuerpo;
}

.encabezado{
    .encabezado__imgEncabezado{
        .encabezado__imgEncabezado__columnas{
            .encabezado__imgEncabezado__columnas__imgE{
                width: map-get($marginyAncho, w-6);
            }
        }
    }
    .encabezado__TyP{
         width: map-get($marginyAncho, w-10);
            .encabezado__TyP__titulo{
                @include titulosyparrafos(130%, $est1, center);
                font-family: map-get($tipografias, titulo); 
            }
                .encabezado__TyP__parrafo{
                    @include titulosyparrafos(80%, $est1, center);
                    font-family: map-get($tipografias, parrafo);
                    color: map-get($colores, fondo);
                    width: map-get($marginyAncho, w-10);
                }  
            
        }
}

.contAnimaciones{
    overflow: hidden;
.colorCuerpo{
    background-color: map-get($colores, fondo);
    .fuente{
        @include titulosyparrafos(90%, $est4, center);
        color: map-get($colores, detalles);
        font-family: map-get($tipografias, parrafo);
    
    }
    .pantallaMovil{
        .botonS{
            .colorBoton-1{
                background-color:map-get($colores, detalles);
                color: map-get($colores, fondo);
                font-family: map-get($tipografias, parrafo);
                font-weight: $est3;
                width: map-get($marginyAncho, w-3);
                border: 0;
                border-radius: 5%;
            }
        }
        .mb-sm-5{
            .anchoCarrusel{
                width: map-get($marginyAncho, w-8);
            }
        }
        .botonD {
            margin-top: map-get($marginyAncho, topybot2);
            .colorBoton-1{
                background-color:map-get($colores, detalles);
                color: map-get($colores, fondo);
                font-family: map-get($tipografias, parrafo);
                font-weight: $est3;
                width: map-get($marginyAncho, w-3);
                border: 0;
                border-radius: 5%;
            }
        }
        .mb-sm-3{
            .anchoCarrusel{
                width: map-get($marginyAncho, w-8);
            }
        }
        .botonR{
            margin-top: map-get($marginyAncho, topybot2);
            .colorBoton-1{
                background-color:map-get($colores, detalles);
                color: map-get($colores, fondo);
                font-family: map-get($tipografias, parrafo);
                font-weight: $est3;
                width: map-get($marginyAncho, w-3);
                border: 0;
                border-radius: 5%;
            }
        }
        .mb-sm-3{
            .anchoCarrusel{
                width: map-get($marginyAncho, w-8);
            }
        }
    }
}
}

/*
.anchoCarrusel {
    width: map-get($marginyAncho, w-8);
}*/

.tresBotones {
    display: none;
}
    
.noPM {
    display: none;
}

   


