
.colorCuerpo{
    background-color: map-get($colores, fondo);
    .col-sm-8{
        .titServ {
            margin-top: map-get($marginyAncho, topybot);
            @include titulosyparrafos(100%, $est4, center, $color-terciario);
            font-family: map-get($tipografias, parrafo) !important;
        }
        .parServ {
            @include titulosyparrafos(80%, $est1, center, $color-terciario);
            font-family: map-get($tipografias, parrafo) !important;
        }
    }
    .col-sm-8{
        .CarruselServ{
            width: map-get($marginyAncho, w-6);
            margin-bottom: map-get($marginyAncho, topybot);
            }
    }
}
