.colorCuerpo{
    .col-sm-8{
        .map{
            margin-top: 10%;
            width: map-get($marginyAncho, w-8);
        }
    }
    .col-sm-8{
        .titUbi{
            margin-top: map-get($marginyAncho, topybot);
            @include titulosyparrafos(100%, 700, center, $color-terciario);
            font-family: map-get($tipografias, parrafo) !important;
        }
        .titPar {
            @include titulosyparrafos(80%, 400, center, $color-terciario);
            font-family: map-get($tipografias, parrafo) !important;
            }
    }
}
