/* DESKTOP */

@media screen and (min-width : 1200px) {
    .encabezado{
        .encabezado__imgEncabezado{
            .encabezado__imgEncabezado__columnas{
                .encabezado__imgEncabezado__columnas__imgE{
                    width: map-get($marginyAncho, w-6);
                }
            }
        }
        .encabezado__TyP{
            width: map-get($marginyAncho, w-5);
                .encabezado__TyP__titulo{
                    @include titulosyparrafos(180%, 700, center);
                    width: map-get($marginyAncho, w-10);
                }
                    .encabezado__TyP__parrafo{
                        @include titulosyparrafos(100%, 400, center);
                    }  
                
            }
    }

    .contAnimaciones{
        overflow: hidden;
    .colorCuerpo{
        background-color: map-get($colores, fondo);
        .fuente{
            font-size: 120%;
        }
        .pantallaMovil{
            display: none !important;
        }
        .botones{
            margin-left: 2%;
            margin-top: 2%;
            .tresBotones {
                background-color: #015958;
                border: 0;
                border-radius: 35%;
                width: 10%;
                justify-content: center;
            }
            .tresBotones p{
                @include titulosyparrafos(100%, 600, center);
                font-family: map-get($tipografias, parrafo);
                width: map-get($marginyAncho, w-10);
                margin-top: map-get($marginyAncho, topybot1);
            
            }
        }
        .noPM{
            margin-bottom: 5%;
            
        .imgcomidaS {
            width: map-get($marginyAncho, w-2);
            }
        }
        .botones{
            margin-left: 2%;
            margin-top: 2%;
            .tresBotones {
                background-color: #015958;
                border: 0;
                border-radius: 35%;
                width: 10%;
                justify-content: center;
            }
            .tresBotones p{
                @include titulosyparrafos(100%, 600, center);
                font-family: map-get($tipografias, parrafo);
                width: map-get($marginyAncho, w-10);
                margin-top: map-get($marginyAncho, topybot1);
            
            }
        }
        .noPM{
            margin-bottom: 5%;
            
        .imgcomidaD {
            width: map-get($marginyAncho, w-2);
            }
        }
        .botones{
            margin-left: 2%;
            margin-top: 2%;
            .tresBotones {
                background-color: #015958;
                border: 0;
                border-radius: 35%;
                width: 10%;
                justify-content: center;
            }
            .tresBotones p{
                @include titulosyparrafos(100%, 600, center);
                font-family: map-get($tipografias, parrafo);
                width: map-get($marginyAncho, w-10);
                margin-top: map-get($marginyAncho, topybot1);
            
            }
        }
        .noPM{
            margin-bottom: 5%;
            
        .imgcomidaR {
            width: map-get($marginyAncho, w-2);
            }
        }
    }
}

.tamañoImgPieCont{
width: 20%;
margin-bottom: 5%;
}
   
.tamañoImgPie {
width: map-get($marginyAncho, w-4);
margin-bottom: 5%;
}

.iconos {
    margin-bottom: 5%;
    text-align: center;
    color:#F6FEFF;
    width: 15%;
}
    
    .icono {
    text-align: center;
    margin: 10%;
    width: 100%;
}


/*CONTACTO*/

.colorForm {
    background-color: #F6FEFF;
    width: map-get($marginyAncho, w-10);
    .textoForm{
        color: #015958;
        .h2Form {
            @include titulosyparrafos(100%, 700, center, $color-terciario);
            font-family: map-get($tipografias, parrafo);
            padding: map-get($marginyAncho, padd);
            width: map-get($marginyAncho, w-10);
            }
        .pForm {
            width: map-get($marginyAncho, w-10);
            @include titulosyparrafos(90%, 400, center, $color-terciario);
            font-family: map-get($tipografias, parrafo);
            padding: map-get($marginyAncho, padd);
            }
    }

    .formulario__info__contactos{
        .icono{
            margin: map-get($marginyAncho, padd);
            text-align: center;
        }
        
    }
    .colorcuadroForm {
        width: map-get($marginyAncho, w-4);
        .formulario__cuadrosFormulario__cajas__caja {
        background-color: #6BBFBF;
        border: 0;
        padding: map-get($marginyAncho, padd);
        margin: map-get($marginyAncho, padd);
        @include titulosyparrafos(70%, 400, start, $color-terciario);
        font-family: map-get($tipografias, parrafo);
        border-radius: 10px;
        width: map-get($marginyAncho, w-10);
        
        } 
    }
}

/*ERROR 404*/
.errorBody{
    background-color: #fb957c ;
    
    .errorConImg{
    width: 100%;
    
        .errorTit{
        margin-top: 10%;
        margin-bottom: 10%;
        color:rgb(42, 165, 93);
        text-align: center;
        }
        .errorImg{
        margin: 5%;
        width: 100%;
    }
  }
}


/* LOCALES */
.colorCuerpo{
    .col-sm-8{
        .map{
            margin-top: map-get($marginyAncho, padd);
            width: 90%;
        }
    }
    .col-sm-8{
        .titUbi{
            margin-top: map-get($marginyAncho, topybot);
            font-size: 120%;
        }
        .titPar {
            font-size: 95%;
            }
    }
}

/*SERVICIOS*/

.colorCuerpo{
    background-color: map-get($colores, fondo);
    .col-sm-8{
        .titServ {
            margin-top: 20%;
            font-size: 120%;
        }
        .parServ {
            font-size: 95%;
        }
    }
    .col-sm-8{
        .CarruselServ{
            width: map-get($marginyAncho, w-6);
            margin-bottom: map-get($marginyAncho, topybot);
            }
    }
}

/*NOSOTROS*/

.colorCuerpo{
    .contenedor_historia{
        margin-left: 3%;
          .textNos{
            @include titulosyparrafos(90%, 400, start, $color-terciario);
            font-family: map-get($tipografias, parrafo);
            margin-left: map-get($marginyAncho, topybot);
            padding-top: map-get($marginyAncho, topybot);
        }
        .historia__fotoellos{
            width: map-get($marginyAncho, w-5);
          .imgellos {
            width: map-get($marginyAncho, w-5);
            border-radius: 20px;
            }
        }
    }
    .contenedor_historia1{
        padding-right: map-get($marginyAncho, topybot1);
        margin-top: map-get($marginyAncho, topybot);
        margin-bottom: 10%;
      .historia__fotoellos1{
        width: map-get($marginyAncho, w-5);
        margin-right: map-get($marginyAncho, topybot);
        .imgellos1 {
          width: map-get($marginyAncho, w-5);
          border-radius: 20px;
          }
      }
      .textNos1 {
        @include titulosyparrafos(90%, 400, center, $color-terciario);
        font-family: map-get($tipografias, parrafo);
        margin-bottom: map-get($marginyAncho, topybot);
        margin-right: map-get($marginyAncho, topybot);
        padding-top: 3%;
    }
    }
  }


}
