$color-primario: #53A69D;
$color-secundario:#F6FEFF;
$color-terciario:#015958;


.colorBoton {
    background-color:#015958;
    color: #F6FEFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    }
    
    .colorBF {
    background-color: 0,0,0,0;
    }

    .colorOp {
    background-color:#53A69D;
    color:#F6FEFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    }